{
	"authHost": "https://esl.in.ua",
	"authEndpoint": "/api/broadcasting/auth",
	"clients": [
		{
			"appId": "admin",
			"key": "23223ba498d2bb452c628e85d0741bc4"
		}
	],
	"database": "redis",
	"databaseConfig": {
		"redis": {
			"host": "redis",
			"port": "6379",
			"password": "secret@243242",
			"db": "0",
			"keyPrefix": ""
		}
	},
	"devMode": true,
	"host": null,
	"port": "6001",
	"protocol": "https",
	"socketio": {
		"wsEngine": "ws"
	},
	"sslCertPath": "",
	"sslKeyPath": "",
	"sslCertChainPath": "",
	"sslPassphrase": "",
	"apiOriginAllow": {
		"allowCors": true,
		"allowOrigin": "*.*",
		"allowMethods": "GET, POST",
		"allowHeaders": "Origin, Content-Type, X-Auth-Token, X-Requested-With, Accept, Authorization, X-CSRF-TOKEN, X-Socket-Id"
	}
}
