.idea
.env
docker-compose.yml

/docker/nginx/sites/*
/docker/nginx/ssl/*
/docker/nginx/nginx.conf
/docker/mysql
/docker/redis/redis.conf
/docker/websocket/laravel-echo-server.json
/docker/websocket/laravel-echo-server.lock

.vscode
node_modules
yarn.lock
package-lock.json

/admin-old

